name: my-github_actions
env:
  APPLICATION_NAME: "MyFlask"
  DEPLOY_PACKAGE_NAME: "flask-app-ver-${{ github.sha }}" 
on:
  push:
    branches:
      - main
jobs:
  my_testing:
    runs-on: [ubuntu-lasstest]
    
    steps:
      - name: Print nice message
        run: echo "Hello World"
        
      - name: Execute few commands
        run: |
          echo "Hello message1"
          echo "Hello message2"
          echo "Printing Global  ENV variable ${{ env.DEPLOY_PACKAGE_NAME  }}"
      - name: List current folder
        run: ls -la   
          
      - name: Git clone my repo
        uses: actions/checkout@v1
     
      - name: List current folder
        run: ls -la
      
      - name: Printing some info
        run: echo "App name is ${{ env.APPLICATION_NAME }}"
        
      
        
         
        
  my_deploy:
    runs-on: [ubuntu-latest]
    needs: [my_testing]
    env:
      VAR1: "Job variable 1"
      VAR2: "Job variable 2"
          
    steps:
      - name: Print nice message from Deploy Job
        run: echo "Hello World from Deploy"
        
      - name: List current folder
        run: ls -la
      
      - name: Printing some more info
        run: |
          echo "Var1 = ${{ env.VAR1 }}"
          echo "Var2 = ${{ env.VAR2 }}"
      - name: Print super local env var
        run: echo "This is local varaiable $LOCAL_VAR1"
        env:
          LOCAL_VAR1 : "Hello I`am local variable"
       
      - name: Check if command exist
        run: aws --version
        
      - name: Check if ZIP exist
        run: zip --version
      
        
